# ======================================================================
#		Bin‰‰ri-osan kontrolli
# ======================================================================

# ----------------------------------------------------------------------
# Hakemisto, jonne ennusteet tallennetaan
# ----------------------------------------------------------------------

# qdtext::outdir = /data/prod/maatalousennuste/out/suomi
qdtext::outdir = out/maatalous

qdtext::logfile = out/maatalousennuste.log

# ----------------------------------------------------------------------
# Hakemisto, jossa aluekartat ovat (SVG-muodossa)
# ----------------------------------------------------------------------

qdtext
{
	// Testialue

	areas	= ahvenanmaa
	areas	+= suomi
	areas	+= etela-karjala
	areas	+= etela-pohjanmaa
	areas	+= etela-savo
	areas	+= hame
	areas	+= kainuu
	areas	+= keski-pohjanmaa
	areas	+= keski-suomi
	areas	+= koillismaa
	areas	+= kymenlaakso
	areas	+= lansi-lappi
	areas	+= paijat-hame
	areas	+= pirkanmaa
	areas	+= pohjanmaa
	areas	+= pohjois-karjala
	areas	+= pohjois-pohjanmaa
	areas	+= pohjois-savo
	areas	+= satakunta
	areas	+= uusimaa
	areas	+= varsinais-suomi
}

qdtext::areas
{
	dir			= $(textgen::mappath)/maatalous
	radius			= 10

	suomi			= $(dir)/suomi.svg
	ahvenanmaa		= $(dir)/ahvenanmaa.svg:$(radius)
	etela-karjala		= $(dir)/etela-karjala.svg:$(radius)
	etela-pohjanmaa		= $(dir)/etela-pohjanmaa.svg:$(radius)
	etela-savo		= $(dir)/etela-savo.svg:$(radius)
	hame			= $(dir)/hame.svg:$(radius)
	kainuu			= $(dir)/kainuu.svg:$(radius)
	keski-pohjanmaa		= $(dir)/keski-pohjanmaa.svg:$(radius)
	keski-suomi		= $(dir)/keski-suomi.svg:$(radius)
	koillismaa		= $(dir)/koillismaa.svg:$(radius)
	kymenlaakso		= $(dir)/kymenlaakso.svg:$(radius)
	lansi-lappi		= $(dir)/lansi-lappi.svg:$(radius)
	paijat-hame		= $(dir)/paijat-hame.svg:$(radius)
	pirkanmaa		= $(dir)/pirkanmaa.svg:$(radius)
	pohjanmaa		= $(dir)/pohjanmaa.svg:$(radius)
	pohjois-karjala		= $(dir)/pohjois-karjala.svg:$(radius)
	pohjois-pohjanmaa	= $(dir)/pohjois-pohjanmaa.svg:$(radius)
	pohjois-savo		= $(dir)/pohjois-savo.svg:$(radius)
	satakunta		= $(dir)/satakunta.svg:$(radius)
	uusimaa			= $(dir)/uusimaa.svg:$(radius)
	varsinais-suomi		= $(dir)/varsinais-suomi.svg:$(radius)
}

qdtext::dictionary = multimysql
qdtext::timezone = Europe/Helsinki

qdtext::products = fi_txt,fi_html,sv_txt,sv_txt

qdtext::product::fi_txt
{
	language = fi
	formatter = plainlines

	filename
	{
		ahvenanmaa		= txt/fi/ahvenanmaa.txt
		etela-karjala		= txt/fi/etela-karjala.txt
		etela-pohjanmaa		= txt/fi/etela-pohjanmaa.txt
		etela-savo		= txt/fi/etela-savo.txt
		hame			= txt/fi/hame.txt
		kainuu			= txt/fi/kainuu.txt
		keski-pohjanmaa		= txt/fi/keski-pohjanmaa.txt
		keski-suomi		= txt/fi/keski-suomi.txt
		koillismaa		= txt/fi/koillismaa.txt
		kymenlaakso		= txt/fi/kymenlaakso.txt
		lansi-lappi		= txt/fi/lansi-lappi.txt
		paijat-hame		= txt/fi/paijat-hame.txt
		pirkanmaa		= txt/fi/pirkanmaa.txt
		pohjanmaa		= txt/fi/pohjanmaa.txt
		pohjois-karjala		= txt/fi/pohjois-karjala.txt
		pohjois-pohjanmaa	= txt/fi/pohjois-pohjanmaa.txt
		pohjois-savo		= txt/fi/pohjois-savo.txt
		pohjois-suomi		= txt/fi/pohjois-suomi.txt
		satakunta		= txt/fi/satakunta.txt
		uusimaa			= txt/fi/uusimaa.txt
		varsinais-suomi		= txt/fi/varsinais-suomi.txt
		suomi			= txt/fi/suomi.txt
	}	
}

qdtext::product::fi_html
{
	language = fi
	formatter = html

	filename
	{
		ahvenanmaa		= html/fi/ahvenanmaa.html
		etela-karjala		= html/fi/etela-karjala.html
		etela-pohjanmaa		= html/fi/etela-pohjanmaa.html
		etela-savo		= html/fi/etela-savo.html
		hame			= html/fi/hame.html
		kainuu			= html/fi/kainuu.html
		keski-pohjanmaa		= html/fi/keski-pohjanmaa.html
		keski-suomi		= html/fi/keski-suomi.html
		koillismaa		= html/fi/koillismaa.html
		kymenlaakso		= html/fi/kymenlaakso.html
		lansi-lappi		= html/fi/lansi-lappi.html
		paijat-hame		= html/fi/paijat-hame.html
		pirkanmaa		= html/fi/pirkanmaa.html
		pohjanmaa		= html/fi/pohjanmaa.html
		pohjois-karjala		= html/fi/pohjois-karjala.html
		pohjois-pohjanmaa	= html/fi/pohjois-pohjanmaa.html
		pohjois-savo		= html/fi/pohjois-savo.html
		pohjois-suomi		= html/fi/pohjois-suomi.html
		satakunta		= html/fi/satakunta.html
		uusimaa			= html/fi/uusimaa.html
		varsinais-suomi		= html/fi/varsinais-suomi.html
		suomi			= html/fi/suomi.html
	}	
}

qdtext::product::sv_txt
{
	language = sv
	formatter = plainlines

	filename
	{
		ahvenanmaa		= txt/sv/aland.txt
		etela-karjala		= txt/sv/sodra-karelen.txt
		etela-pohjanmaa		= txt/sv/sodra-osterbotten.txt
		etela-savo		= txt/sv/sodra-savolax.txt
		hame			= txt/sv/tavastland.txt
		kainuu			= txt/sv/kajanaland.txt
		keski-pohjanmaa		= txt/sv/mellersta-osterbotten.txt
		keski-suomi		= txt/sv/mellersta-finland.txt
		koillismaa		= txt/sv/nordostlandet.txt
		kymenlaakso		= txt/sv/kymmenedalen.txt
		lansi-lappi		= txt/sv/vastra-lappland.txt
		paijat-hame		= txt/sv/paijanne-tavastland.txt
		pirkanmaa		= txt/sv/birkaland.txt
		pohjanmaa		= txt/sv/osterbotten.txt
		pohjois-karjala		= txt/sv/norra-karelen.txt
		pohjois-pohjanmaa	= txt/sv/norra-osterbotten.txt
		pohjois-savo		= txt/sv/norra-savolax.txt
		pohjois-suomi		= txt/fi/norra-finland.txt
		satakunta		= txt/sv/satakunta.txt
		uusimaa			= txt/sv/nyland.txt
		varsinais-suomi		= txt/sv/egentliga-finland.txt
		suomi			= txt/sv/finland.txt
	}
}

qdtext::product::sv_html
{
	language = sv
	formatter = html

	filename
	{
		ahvenanmaa		= html/sv/aland.html
		etela-karjala		= html/sv/sodra-karelen.html
		etela-pohjanmaa		= html/sv/sodra-osterbotten.html
		etela-savo		= html/sv/sodra-savolax.html
		hame			= html/sv/tavastland.html
		kainuu			= html/sv/kajanaland.html
		keski-pohjanmaa		= html/sv/mellersta-osterbotten.html
		keski-suomi		= html/sv/mellersta-finland.html
		koillismaa		= html/sv/nordostlandet.html
		kymenlaakso		= html/sv/kymmenedalen.html
		lansi-lappi		= html/sv/vastra-lappland.html
		paijat-hame		= html/sv/paijanne-tavastland.html
		pirkanmaa		= html/sv/birkaland.html
		pohjanmaa		= html/sv/osterbotten.html
		pohjois-karjala		= html/sv/norra-karelen.html
		pohjois-pohjanmaa	= html/sv/norra-osterbotten.html
		pohjois-savo		= html/sv/norra-savolax.html
		pohjois-suomi		= html/fi/norra-finland.html
		satakunta		= html/sv/satakunta.html
		uusimaa			= html/sv/nyland.html
		varsinais-suomi		= html/sv/egentliga-finland.html
		suomi			= html/sv/finland.html
	}
}

# ======================================================================
#		Kirjasto-osan kontrolli
# ======================================================================

# ----------------------------------------------------------------------
# Ennustedata eri parametreille
# ----------------------------------------------------------------------

textgen::main_forecast = /data/pal/querydata/pal/skandinavia/pinta
textgen::ground_forecast = /data/pal/querydata/pal/skandinavia/maanpinta
textgen::road_forecast = /data/fmi/querydata/tiesaa/suomi/pinta

textgen
{
	temperature_forecast			= $(main_forecast)
	precipitation_forecast			= $(main_forecast)
	precipitationprobability_forecast	= $(main_forecast)
	cloudiness_forecast			= $(main_forecast)
	windspeed_forecast			= $(main_forecast)
	winddirection_forecast			= $(main_forecast)
	relativehumidity_forecast		= $(main_forecast)
	thunder_forecast			= $(main_forecast)

	frost_forecast				= $(ground_forecast)
	severefrost_forecast			= $(ground_forecast)

	roadtemperature_forecast		= $(road_forecast)
}

textgen::mask::land = suomi

textgen::units
{
	celsius::format		= phrase
	meterspersecond::format	= phrase
	millimeters::format	= phrase
	percent::format		= phrase
}

# ----------------------------------------------------------------------
# Tekstin kontrollointi
# ----------------------------------------------------------------------

textgen::sections = title,part1,part2,part3

textgen::document::html::tags = class="forecast"

textgen::title
{
	period::type = now
	header::type = report_area
	header::colon = false
	header::html::level = 2
	header::html::tags = class="mainheader"
	content = none
}

textgen::part1
{
	period::type = until
	header::type = until
	header::colon = true
	header::html::level = 4
	header::html::tags = class="subheader"
	paragraph::html::tags = class="part1"
}

textgen::part2
{
	period::type = from_until
	header::type = from_until
	header::colon = true
	header::html::level = 4
	header::html::tags = class="subheader"
	paragraph::html::tags = class="part2"
}

textgen::part3
{
	period::type = from_until
	header::type = several_days
	header::colon = true
	header::html::level = 4
	header::html::class = class="subheader"
	paragraph::html::tags = class="part3"
}

# Huomiseen iltaan, klo 12 j‰lkeen ylihuomisiltaan

textgen::part1::period
{
	days = 1
	endhour = 18
	switchhour = 12
}

# Edellisen alusta +4 p‰iv‰‰ aamuun

textgen::part2::period
{
	starthour = 18
	startday = 1
	switchhour = 12
	days = 4
	endhour = 6
}

# Seuraavasta aamusta +5 p‰iv‰n aamuun

textgen::part3::period
{
	starthour = 6
	startday = 0
	switchhour = 6
	days = 5
	endhour = 6
}


textgen::part1
{
	content = cloudiness_overview
	content += pop_days
	content += wind_daily_ranges
	content += temperature_dailymax
	content += temperature_nightlymin
	content += weather_thunderprobability
	content += frost_twonights
	content += relativehumidity_lowest
	content += precipitation_sums
}

textgen::part2
{
	content = weather_shortoverview
	content += temperature_weekly_minmax
}

textgen::part3
{
	content = temperature_mean
	content += temperature_meanmax
	content += temperature_meanmin
	content += precipitation_classification
}

textgen::part1::story::cloudiness_overview
{
	day::starthour = 4
	day::endhour = 21
	day::maxstarthour = 10
	day::minendhour = 18

	merge_same = true
	merge_similar = false
}

textgen::part1::story::pop_days
{
	day::starthour = 0
	day::endhour = 0
	day::maxstarthour = 10
	day::minendhour = 18

	today::phrases = today,tomorrow,weekday
	next_day::phrases = tomorrow,weekday

	precision = 10
	minimum = 10

	comparison::significantly_greater = 50
	comparison::greater = 20
	comparison::somewhat_greater = 10
	comparison::somewhat_smaller = 10
	comparison::smaller = 20
	comparison::significantly_smaller = 50
}

textgen::part1::story::wind_daily_ranges
{
	direction::accurate = 22.5
	direction::variable = 45

	same::minimum = 0
	same::maximum = 0

	mininterval = 0

	day::starthour = 4
	day::maxstarthour = 10
	day::endhour = 21
	day::minendhour = 18

	today::phrases = today,tomorrow,weekday
	next_day::phrases = tomorrow,weekday
	next_days::phrases = tomorrow,weekday
}

textgen::part1::story::temperature_dailymax
{
	day::starthour = 6
	day::maxstarthour = 9
	day::endhour = 18

#	today::phrases = today
	next_day::phrases = tomorrow,followingday

	comparison::significantly_higher = 6
	comparison::higher = 3
	comparison::somewhat_higher = 2
	comparison::somewhat_lower = 2
	comparison::lower = 3
	comparison::significantly_lower = 6

	always_zero_interval = true
}

textgen::part1::story::temperature_nightlymin
{
	night::starthour = 18
	night::maxstarthour = 0
	night::endhour = 6

	tonight::phrases = tonight
	next_night::phrases = followingnight

	comparison::significantly_higher = 6
	comparison::higher = 3
	comparison::somewhat_higher = 2
	comparison::somewhat_lower = 2
	comparison::lower = 3
	comparison::significantly_lower = 6

	always_zero_interval = true

}

textgen::part1::story::weather_thunderprobability
{
	precision = 10
	limit = 10
}

textgen::part1::story::frost_twonights
{
	night::starthour = 18
	night::endhour = 6

	precision = 10
	severe_frost_limit = 10
	frost_limit = 10
}

textgen::part1::story::relativehumidity_lowest
{
	day::maxstarthour = 6
	day::minendhour = 18

	today::phrases = weekday
	next_day::phrases = followingday

	comparison::significantly_greater = 50
	comparison::greater = 20
	comparison::somewhat_greater = 10
	comparison::somewhat_smaller = 10
	comparison::smaller = 20
	comparison::significantly_smaller = 50

	precision = 10

}

textgen::part1::story::precipitation_sums
{
	minrain = 0.05
	mininterval = 2
}

textgen::part2::story::weather_shortoverview
{
	cloudiness::fullrange = false
	cloudiness::day::starthour = 6
	cloudiness::day::endhour = 21

	cloudiness::clear = 40
	cloudiness::cloudy = 70

	cloudiness::single_limit = 60
	cloudiness::double_limit = 85

	precipitation::day::starthour = 0
	precipitation::day::endhour = 0

	precipitation::rainy_limit = 1
	precipitation::partly_raily_limit = 0.1
	precipitation::unstable_limit = 50
}

textgen::part2::story::temperature_weekly_minmax
{
	day::starthour = 6
	day::endhour = 18
	night::starthour = 18
	night::endhour = 6
}

textgen::part2::story::temperature_weekly_averages
{
	day::starthour = 6
	day::endhour = 18
	night::starthour = 18
	night::endhour = 6
}

textgen::part3::story::precipitation_classification
{
	max_some_places = 30
	max_many_places = 70
	some_places = 30
	many_places = 70
	classes = 0...2,2...5,5...10,10...20
}
